{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<head>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Have fun, {{user.student.get_student_fname}}! </h1>
            <div>
                
            </div>
               <span style="color:#FF3D3D"> <p>Directions:&nbspclick on the ball to begin.  <br>Use the numeric buttons at the top and submit your answer by clicking on the ball.</p>
                <table style="width:100%">
  
  <script src = "{% static 'js/Main.js'%}"></script>
 <audio controls = "controls" autoplay="autoplay" loop="loop">
  Your browser does not support the <code>audio</code> element.
  <source src="/static/music/HugeCrowd3.ogg" type="audio/ogg">
</audio>
          
               
                      
                        
                        
                        
                      
               
              
               


                </span>
                
            
            </body>
            
         
        </div>
    </div>
</div>

{% endblock %}


