{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<head>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, {{user.student.get_student_fname}}!</h1>
            
               <span style="color:#FF3D3D"> <h1>Check Your Stats</h1>
                <table style="width:100%">
  <tr>
    <td>Larry</td>
    <td>Level 1 Addition</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 2 Addition</td>
    <td>94</td>
  </tr>
</table> 
          
               
                      
                        
                        
                        
                      
               
              
               


                </span>
                
            
            </body>
            
         
        </div>
    </div>
</div>

{% endblock %}


