{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<head>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello Student </h1>
            
               <span style="color:#FF3D3D"> <h1>Check Your Stats</h1>
                <table style="width:100%">
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table> 
          
               
                      
                        
                        
                        
                      
               
               <pre class="btn btn-default" href="#" role="button"</pre>          Add   <pre class="btn btn-default" href="#" role="button">            Level  One</pre>
                    </pre>
                    
               


                </span>
                
            
            </body>
            
         
        </div>
    </div>
</div>
<script src = "{% static 'js/Main.js'%}"></script>
{% endblock %}


