{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<head>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, {{user.student.get_student_fname}}!</h1>
            
               <span style="color:#FF3D3D"> <h1>Check Your Stats</h1>
                <table style="width:100%">
  <br><br>

                <table style="width:100%">
  <tr>
    <td>Larry</td>
    <td>Level 1 Addition</td>
    <td>99</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 2 Addition</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 3 Addition</td>
    <td>94</td>
  </tr>
  
  <tr>
    <td>Larry</td>
    <td>Level 1 Subtraction</td>
    <td>88</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 2 Subtraction</td>
    <td>76</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 3 Subtraction</td>
    <td>62</td>
  </tr>
  
  

</table>
                 <br>
                 
                   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBarColors);

function drawBarColors() {
      var data = google.visualization.arrayToDataTable([
        ['Student', 'Level 1 add', 'Level 2 add', 'Level 3 add','Level 1 sub', 'Level 2 sub', 'Level 3 sub'],
        ['Larry', 89, 67, 45, 78, 67, 54],
        
       
      ]);

      var options = {
        title: 'Student Scores',
        legend: "top",
        chartArea: {width: '75%'},
        colors: ['#b0120a', '#ffab91', "#ffab30", "#00FFFF", "#afcb22", "#dadb10"],
        hAxis: {
          title: 'Score',
          minValue: 0
        },
        vAxis: {
          title: 'Student Name'
        }
      };
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    

      // Set chart options
      var options = {'title':'Student Completion',
        legend: 'Top',
                     };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
      chart.draw(data, options);
    }

      
    </script>
  </head>
  <body>
     <!--Div that will hold the pie chart-->
    <div id="pie_chart" style="width:1100px; height:500px;"></div>
    <div id="chart_div" style="width: 1100px; height: 500px;"></div>

         
        </div>
    </div>
</div>

{% endblock %}


