{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}


<head>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, Teacher!</h1>
               <span style="color:#FF3D3D"> <h1>Welcome to your Dashboard</h1>
                <table style="width:100%">
                    <br><br>
                    <td><a type="button" href="/admin/" class="btn btn-primary btn-lg">Teacher Login</a></td>
                    <br><br>
                    <td><a type="button" href="/teacherstats/" class="btn btn-primary btn-lg">View Students Stats</a></td>
                </span>
            </body>
        </div>
    </div>
</div>

{% endblock %}


