{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Hello, Teacher!</h1>
            
            
            
               <span style="color:#FF3D3D"> <h1>Check Your Students Stats</h1>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Dropdowns</h2>


                                     
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a student to view their stats
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Larry</a></li>
      <li><a href="#">Michael</a></li>
      <li><a href="#">Stephen</a></li>
    </ul>
  </div>
</div>


<br><br>



                <table style="width:100%">
  <tr>
    <td>Larry</td>
    <td>Level 1 Addition</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Larry</td>
    <td>Level 2 Addition</td>
    <td>94</td>
  </tr>
</table> 
          
               
                      
                        
                        
                        
                      
               
              
               


                </span>
                
            
            </body>
            
         
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}


